.header{
  background-color: blue;
  color: white;
  text-align: center;
}
.navigation{
  background-color:yellow;
  color: white;
  text-align: center;
}
.content{
  background-color:green;
  color: white;
  text-align: center;
}
.footer{
  background-color:pink;
  color: white;
  text-align: center;
}
p{
  color: blue;
}